html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
    /* this pushes footer down when content is short */
}


.logo {
    height: 80px;
    margin-right: 15px;
}

nav {
    position: absolute;
    background-color: #000000;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~nav {
    display: block;
}

nav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
}

nav div div a {
    line-height: 50px;
    /* Match the height of the nav bar */
}

.hamburger-icon {
    color: black;
}

header {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
}

.section-home-background {
    padding-top: 1px; /* Creates a tiny buffer so margin won't escape. It is for margin collapsing which cause white space between image and header */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../assets/home-background.jpg);
}

.section-home-background h1 {
    margin: 0 30px;
    padding: 0;
}

.section-about-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 3%;
    background-image: url(../assets/grass.jpg)
}



@media(min-width: 600px) {
    nav {
        display: flex;
        position: static;
        justify-content: center;
        align-items: center;
    }

    #nav-div-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #nav-div-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-icon {
        display: none;
    }

    .logo {
        display: block;
    }

    nav a {
        display: inline-block;
    }

}

.img-box {
    width: 400px;
    height: 250px;
    margin: 60px;
}


.row-footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}



.footer-column {
    margin: 0 50px;
    align-items: center;
    color: #ffffff;
}

footer {
    background-color: #000000;
}

.social-icon {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.social-icon a img {
    width: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}

.logo-footer {
    width: 6rem;
}

.h1-home {
    width: 30%;
}

.h1-home p {
    margin: 30px;
    font-size: 2rem;
    color: #ffffff;
}

.h1-home h1 {
    margin: 30px;
    font-size: 3rem;
    color:#ffffff;
}

.h1-home button {
    margin: 30px;
    padding: 15px 32px;
}

.row-p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    gap: 10rem;

}

.content {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.content-about {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.row-box {

    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}

.img-box-cycling {
    width: 500px;
    margin: 20px;
}

.section-about-background-text {
    background: rgba(102, 102, 102, 0.4);
    padding: 20px;
    color: #fff;
    width: 90%; 
    margin: 0 auto;
}

